html, body {
	height: 100%;
	background: #212535;
	background: repeating-linear-gradient(45deg, #212535, #212535 6px, #121425 7px, #212535 8px);
	font-family: "Open Sans", sans-serif;
}
* {
	margin: 0;
	box-sizing: border-box;
}
h2 {
	font-weight: normal;
	text-shadow: 1px 0;
}
strong {
	font-weight: normal;
	text-shadow: 0.7px 0;
}
time {
	white-space: nowrap;
}
a:link {
	color: #291fb1;
}
a:visited {
	color: #6a2077;
}
a:active {
	color: #c02;
}
a.small-button {
	display: inline-block;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 3px;
	border: 1px solid;
	margin: 5px 10px 5px 0;
}
a.small-button:last-child {
	margin-right: 0;
}
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background: #121425;
}
::-webkit-scrollbar:hover {
	opacity: 0.7
}
::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 10px;
}
::-webkit-scrollbar-corner {
	background: #0000;
}
#sidebar {
	display: block;
	position: fixed;
	margin-left: 30px;
	height: 100%;
	width: 290px;
	padding: 20px;
	background: #a5cbf3;
	color: #121425;
	font-family: "Oswald", "Arial Narrow", sans-serif;
	overflow: auto;
	box-shadow: 0px 0px 10px 0px black;
}
#sidebar::after, #sidebar::before {
	content: "";
	display: block;
	position: fixed;
	top: 0;
	width: 10px;
	height: 100%;
	background-size: 20px 20px;
	background-position: -5px 0;
}
#sidebar::before {
	left: 20px;
	background-image:
		linear-gradient(-135deg, #a5cbf3 10px, transparent 0),
		linear-gradient(-45deg, #a5cbf3 10px, transparent 0);
}
#sidebar::after {
	left: 320px;
	background-image:
		linear-gradient(135deg, #a5cbf3 10px, transparent 0),
		linear-gradient(45deg, #a5cbf3 10px, transparent 0);
}
#sidebar::-webkit-scrollbar-track:vertical,
#sidebar::-webkit-scrollbar-thumb:vertical {
	border-right: 5px solid #a5cbf3;
}
#sidebar img {
	width: 250px;
	height: 250px;
	background-color: #121425;
	border-radius: 3px;
	border: 4px solid #121425;
}
#sidebar h1 {
	font-size: 56px;
	border-bottom: 11px double #121425;
	line-height: 1.2;
	white-space: nowrap;
}
#sidebar .contact {
	margin: 10px 0 15px;
	font-size: 18px;
}
#sidebar a {
	display: block;
	color: #121425;
}
#sidebar .contact a {
	display: block;
	position: relative;
	padding-right: 10px;
}
#sidebar a::before { text-decoration: underline; } /* Fix IE underline bug */
#sidebar a[href^="mailto:"]::before {
	display: inline-block;
	content: "📧";
	margin-right: 5px;
	text-decoration: none;
}
#sidebar a[href^="tel:"]::before {
	display: inline-block;
	content: "☎";
	margin-right: 5px;
	text-decoration: none;
}
#sidebar a[href^="https://www.linkedin.com"]::before {
	display: inline-block;
	position: relative;
	top: 2px;
	content: "";
	width: 1em;
	height: 1em;
	background: no-repeat center url("/img/linkedin-icon.svg");
	margin-right: 5px;
	text-decoration: none;
}
#sidebar nav {
	position: relative;
	width: 250px;
	background-color: #121425;
	border-radius: 3px;
}
#sidebar nav .selector {
	height: 54px;
	width: 35px;
	position: absolute;
	-webkit-transition: top 0.75s cubic-bezier(0.25, 1, 0.25, 1); /* Safari */
	transition: top 0.75s cubic-bezier(0.25, 1, 0.25, 1);
	pointer-events: none;
}
#sidebar nav.static-chevron .selector {
	display: none;
}
#sidebar nav.static-chevron .current, #sidebar nav .selector {
	background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0v100h40l25-50L40 0H0z' fill='%23ff7f00'/%3E%3Cpath d='M50 0l25 50-25 50h25l25-50L75 0H50z' fill='%23ff7f00'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: 25px 35px;
	background-position: 9px center;
}
#sidebar nav a {
	font-size: 42.5px;
	height: 54px;
	line-height: 52px;
	vertical-align: middle;
	text-decoration: none;
	color: #dcdff9;
	-webkit-transition: padding-left 0.25s; /* Safari */
	transition: padding-left 0.25s;
	padding-left: 40px;
}
#sidebar nav a.current {
	pointer-events: none;
}
#sidebar nav a:hover {
	padding-left: 50px;
}
#page-wrapper {
	display: flex;
	position: relative;
	margin-left: 345px;
	justify-content: center;
	align-items: center;
}
.loading-bar-wrapper {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	padding: 15px 20px;
	background: #a5cbf3;
	-webkit-transition: opacity 0.3s linear; /* Safari */
	transition: opacity 0.3s linear;
	opacity: 0;
}
.loading .loading-bar-wrapper {
	opacity: 1;
}
.loading-bar-wrapper.hidden {
	opacity: 0;
}
.loading-bar-text {
	font-family: "Oswald", "Arial Narrow", sans-serif;
	color: #121425;
	font-size: 20px;
	letter-spacing: 0.2em;
	margin-right: -0.2em;
}
.loading-bar-bg {
	width: 150px;
	height: 3px;
	background: #12142530;
	margin: 6px 0 3px;
}
.loading-bar {
	background: #121425;
	height: 100%;
	width: 0;
}
#page {
	display: block;
	position: relative;
	z-index: 1;
	padding: 20px;
	height: 100%;
	width: 100%;
	overflow: auto;
	-webkit-transition: opacity 0.3s cubic-bezier(0.25, 1, 0.25, 1); /* Safari */
	transition: opacity 0.3s cubic-bezier(0.25, 1, 0.25, 1);
}
#page-wrapper.loading #page {
	opacity: 0;
}
#page::-webkit-scrollbar:vertical:corner-present {
	border-radius: 0 0 5px 5px;
}
#page::-webkit-scrollbar:horizontal {
	border-radius: 5px;
}
#page article {
	position: relative;
	max-width: 1000px;
	overflow: auto;
	margin: 0 auto 20px;
	background: #cfddff;
	border: 5px solid #759dc7;
	padding: 20px;
	border-radius: 5px;
}
#page article:last-child {
	margin-bottom: 0;
}
#page article > img {
	position: relative;
	border-radius: 3px;
	float: left;
	margin: 0 20px 0 0;
	max-width: 40%;
	max-height: 40%;
}
#page article:not(.images-left):nth-child(even) > img,
#page article.images-right > img {
	float: right;
	margin: 0 0 0 20px;
}
#page article > h1 {
	line-height: 1;
	margin-bottom: 0.2em;
}
.divider-label {
	display: flex;
	margin: 10px -1px;
}
.divider-label > * {
	display: inline-block;
	padding: 1px 6px;
	border: 1px solid currentColor;
	border-radius: 4px;
}
.divider-label::before,
.divider-label::after {
	content: "";
	display: inline-block;
	height: 0;
	margin: auto 0;
	flex-grow: 1;
	border-top: 5px double currentColor;
}
.divider-label::before {
	max-width: 15px;
}
#page h1 {
	font-family: "Oswald", "Arial Narrow", sans-serif;
	font-size: 45px;
}
#page article main > * {
	margin-top: 10px;
}
#page article main p,
#page article main li,
#page article main details,
#page article main details > * > li:first-child {
	margin-top: 5px;
}
#page article main:first-child p:first-child,
#page article > p:first-child,
#page article li:first-child {
	margin-top: 0;
}
#page article .gallery > * {
	display: inline-block;
	margin: 5px 10px;
	border: 2px solid #212535;
	border-radius: 3px;
}
#page article .gallery > * * {
	margin: 0;
	vertical-align: bottom;
}
#page article ul,
#page article ol {
	overflow: auto;
}
#page article details summary {
	text-shadow: 0.7px 0;
}
#page article details[open] summary.colon-summary {
	text-shadow: inherit;
}
#page article details[open] summary.colon-summary::after {
	content: ":";
}
#page article blockquote {
	display: inline-block;
	position: relative;
	padding: 20px 35px 35px;
	border-radius: 5px;
}
#page article blockquote:before,
#page article blockquote:after {
	position: absolute;
	font-family: "Times New Roman", Times, serif;
	font-size: 60px;
	color: #00000060;
}
#page article blockquote:before {
	content: "\201C";
	top: -5px;
	left: 5px;
}
#page article blockquote:after {
	content: "\201D";
	bottom: -30px;
	right: 5px;
}
#page article blockquote.twitter-tweet {
	background: white;
	max-width: 500px;
}
#page article twitterwidget {
	overflow: auto;
}

@media (max-width: 1100px) {
	#sidebar {
		display: flex;
		position: relative;
		overflow: visible;
		margin: 0;
		padding: 18px 20px 15px;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 210px;
	}
	#sidebar::before {
		content: none;
	}
	#sidebar::after {
		position: absolute;
		top: 205px;
		height: 20px;
		width: 100%;
		left: 0;
		background-image:
			linear-gradient(135deg, #a5cbf3 10px, transparent 0),
			linear-gradient(225deg, #a5cbf3 10px, transparent 0);
	}
	#sidebar > * {
		display: inline-block;
	}
	#sidebar img {
		width: unset;
		height: 100%;
	}
	#sidebar .job-title {
		display: none;
	}
	#sidebar .personal-info {
		margin: 0 5px;
		flex-grow: 0.6;
	}
	#sidebar nav {
		flex-grow: 0.2;
	}
	#page-wrapper {
		margin: 0;
	}
	#page article {
		max-width: unset;
		margin: 0;
		margin-bottom: 20px;
	}
}

@media (max-width: 725px) {
	#sidebar {
		height: 170px;
		padding: 0 10px;
	}
	#sidebar::after {
		top: 165px;
	}
	#sidebar img {
		height: 150px;
	}
	#sidebar h1 {
		font-size: 40px;
	}
	#sidebar .contact {
		font-size: 15px;
	}
	#sidebar nav {
		width: 200px;
	}
	#sidebar nav a {
		font-size: 35px;
		height: 48px;
		line-height: 45px;
		padding-left: 35px;
	}
	#sidebar nav a:hover {
		padding-left: 40px;
	}
	#sidebar nav.static-chevron .current,
	#sidebar nav .selector {
		height: 48px;
		background-size: 20px 29px;
	}
	#page {
		padding: 15px 10px 10px;
	}
	#page article {
		padding: 10px;
		margin-bottom: 10px;
	}
	#page article > img {
		margin-right: 10px;
	}
	#page article:nth-child(even) > img {
		margin-left: 10px;
	}
}

@media (max-width: 575px) {
	#sidebar img {
		display: none;
	}
	#sidebar .personal-info {
		margin-left: 0;
	}
}

@media (max-width: 415px) {
	#sidebar a::before {
		content: none!important;
	}
}

@media (pointer: none) {
	#sidebar nav a:hover {
		padding-left: 0;
	}
}
