<article>
	<header>
		<h1>Sol Toder</h1>
	</header>
	<main>
		<p>
		WEBSITE UNDER DEVELOPMENT
		</p>
	</main>
</article>
<article>
	<main>
		<p>
		I'm a student at Rensselaer Polytechnic Institute in Troy, NY, where I'm pursuing a Dual Major in <strong>Computer Science</strong> and <strong>Games and Simulation Arts and Sciences</strong>. 
		</p>
		<p>
		I love programming, and am experienced in many languages, including  JavaScript, Python, C#, Java, C++, and C. I also have experience building websites using HTML and CSS, including the one that you're reading right now! This website was designed and built exclusively by yours truly. It's still a work in progress, but I think it's pretty neat.
		</p>
		<p>
		Some of my other projects both past and current can be seen over in my <a href="/portfolio" onclick="return loadPage('/portfolio');">portfolio</a>.
		</p>
	</main>
</article>