<article class="images-right">
	<img src="/img/crocman.png">
	<h1>About Me, Sol Toder</h1>
	<main>
		<p>
		I'm currently a student at Rensselaer Polytechnic Institute in Troy, NY, where I'm wrapping up a dual Bachelor of Science in <strong>Computer Science</strong> and <strong>Games and Simulation Arts and Sciences</strong>.
		</p>
		<h2>Professional</h2>
		<p>
		My main passions are <strong>programming</strong> and <strong>game development</strong>. I love building things for other people to use and experience, and I love solving new problems. I am experienced in a number of languages and technologies, including C++, C, Unity, JavaScript, Python, C#, and Java, and I learn new ones quickly. I have experience working on games both personal and professional. I also have experience building websites and web apps using HTML and CSS, including the one that you're reading right now.
		</p>
		<p>
		Some of my projects both past and current can be seen over in my <a href="/portfolio">portfolio</a>.
		</p>
		<h2>Personal</h2>
		<p>
		Outside of programming and games, I like <strong>animation</strong> (the watching, not the producing, although I've dabbled in creating small ones). I enjoy <strong>fantasy and sci-fi novels</strong>, and follow a <em>lot</em> of <strong>webcomics</strong> (my life wouldn't be the same without RSS). I have a niche interest in creating vanilla extensions for <strong>Minecraft</strong> using its <strong>datapack and command systems</strong>, and have been a “verified helper” on the unofficial Minecraft Commands Discord server for several years. I'm decent at <strong>art</strong> and <strong>digital image editing</strong>, and I sometimes mess around with <strong>audio editing</strong>.
		</p>
	</main>
</article>