<article>
	<header>
		<h1>About Me, Sol Toder</h1>
	</header>
	<main>
		<p>
		I'm currently a student at Rensselaer Polytechnic Institute in Troy, NY, where I'm wrapping up a dual Bachelor of Science in <strong>Computer Science</strong> and <strong>Games and Simulation Arts and Sciences</strong>.
		</p>
		<p>
		My main passions are <strong>programming</strong> and <strong>game development</strong>. I am experienced in a number of languages and technologies, including C++, C, Unity, JavaScript, Python, C#, and Java, and I learn new ones quickly. I have experience working on games both personal and professional. I also have experience building websites and web apps using HTML and CSS, including the one that you're reading right now.
		</p>
		<p>
		Some of my other projects both past and current can be seen over in my <a href="/portfolio" onclick="return loadPage('/portfolio');">portfolio</a>.
		</p>
	</main>
</article>
<article>
	<header>
		<h1>Certifications</h1>
	</header>
	<main>
		<div>
			<h2>Master the Mainframe 2017</h2>
			<p>
			Master the Mainframe is an annual mainframe programming challenge organized by IBM Academic Initiative System z. It consists of three parts, each of increasing difficulty. I completed all three.
			</p>
			<p>
			<a class="small-button" href="https://www.youracclaim.com/badges/8fde83f2-b6a7-40e0-8418-217d25a10afb">
				Part 2 Certificate
			</a>
			<a class="small-button" href="https://www.youracclaim.com/badges/fa7c67e1-3af0-46dd-9983-aa6e44e1fce9">
				Part 3 Certificate
			</a>
			</p>
		</div>
	</main>
</article>