<article>
	<header>
		<h1>RESUMÉ</h1>
	</header>
	<main>
		<p>
		<a class="small-button" href="/res/Sol Toder Resume.pdf">Download</a>
		</p>
		<p>
		<object data="/res/Sol Toder Resume.pdf" type="application/pdf" width="100%" height="1000px">
			<iframe src="https://docs.google.com/gview?url=https://www.soltoder.com/res/Sol%20Toder%20Resume.pdf&embedded=true" style="width:100%; height:1000px;" frameborder="0">
				Your browser does not support embedding PDFs. You can download my resume instead using the link above.
			</iframe>
		</object>
		</p>
	</main>
</article>